.page {
  background-color: #d9d9d9;
  width: 100%;
}
body iframe {
  background-color: #fff;
}

.request {
  background-color: #d9d9d9;
  height: 100%;
}

.top-bar {
  width: 100%;
  height: 60px;
  background-color: #b4b8bb;
  min-width: 1050px;
  display: inline-flex;
  font-size: 40px;
}

nav {
  right: 1px;
  position: absolute;
  margin: 10px;
  color: white;
}
nav a {
  font-size: 17px;
}
#names {
  font-size: 30px;
  color: #616060;
  position: relative;
}
.publishBtn {
  border-radius: 5px;
  float: right;
  font-size: 17px;
}

.top-bar a {
  margin-top: 20px;
  text-decoration: none;
  padding: 10px;
  position: relative;
  top: 30%;
  color: white;
}

.wrapper {
  margin: auto;
  position: relative;
  padding: 20px;
  width: 75%;
}

.column {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}

.form-wall {
  width: 100%;
}
.form-wall textarea {
  width: 100%;
  height: 10%;
  border-radius: 5px;
  margin-right: 5px;
  border: 1px solid black;
  line-height: 1.2em;
  font-size: 20px;
}

#comment_form textarea {
  border-color: #d3d3d3;
  width: 85%;
  height: 35px;
  border-radius: 5px;
  color: #616060;
  font-size: 14px;
  margin: 3px;
}
#comment_form input {
  border: none;
  margin: auto;
  position: relative;
  border-radius: 5px;
  width: 13%;
  height: 35px;
  margin-top: 3px;
}

#comment_iframe {
  width: 100%;
}
.newsFeed iframe {
  border: 0px;
  height: 15%;
  width: 30%;
}

.like_value {
  display: inline;
  font-size: 18px;
}

.status-posts {
  position: relative;
  font-size: 22px;
  margin: auto;
}
.post-body {
  font-size: 18px;
}
.author-name {
  display: inline-block;
}

.comment_section {
  text-decoration: none;
}
a {
  text-decoration: none;
  color: black;
}
textarea {
  width: 100%;
  height: 10%;
  border-radius: 5px;
  margin-right: 5px;
  border: 1px solid black;
  line-height: 1.2em;
  font-size: 20px;
}

.addBtn {
  border: none;
  margin: auto;
  position: relative;
  border-radius: 5px;
}
